@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --blue: hsl(246, 80%, 60%);
        --light-red-work: hsl(15, 100%, 70%);
        --soft-blue-play: hsl(195, 74%, 62%);
        --light-red-study: hsl(348, 100%, 68%);
        --lime-green-exercise: hsl(145, 58%, 55%);
        --violet-social: hsl(264, 64%, 52%);
        --soft-orange-self-care: hsl(43, 84%, 65%);
        --very-dark-blue: hsl(226, 43%, 10%);
        --dark-blue: hsl(235, 46%, 20%);
        --desaturated-blue: hsl(235, 45%, 61%);
        --pale-blue: hsl(236, 100%, 87%);

    }
}

@layer components{
    body{
        @apply bg-very-dark-blue font-Rubik
    }
    h1{
        @apply text-lg lg:text-3xl font-light
    }
    .card{
        @apply rounded-lg
    }
    .card-header{
        @apply p-4
    }
    .card-body{
        @apply p-4
    }
    .time_link{
        @apply hover:text-white
    }
    .time_link.active{
        @apply text-white
    }  
    .current_time{
        @apply text-lg lg:text-[3rem] text-pale-blue font-thin
    }  
    .previous_time{
        @apply text-[.7rem] text-pale-blue font-thin
    }  
    .card-activities-logo{
        @apply flex justify-end rounded-t-lg 
    }
    .card-activities-logo-img{
        @apply min-h-full
    }
    .card-activities{
        @apply relative h-32
    }
    .card-activities-time{
        @apply bg-dark-blue p-3 rounded-lg absolute w-full lg:h-40 top-10 hover:bg-desaturated-blue cursor-pointer
    }
}   